/*
Colors

Form background:   #0F0F0F
Title color:       #FFE4C4
Secondary text:    #ffcc99
Select text:       #ffddb3
Select background: #262626
Placeholder:        gray
container background: black
*/
*{
    margin: 0;
    padding: 0;
}
/*#wrapper{
    border: 4px white;
    margin: 0 auto;
    width: 900px;
    font-size: 1.3em;
}*/

section [name="wrapper1"]{
    background-color: white;
}
input{
    background-color: #0F0F0F;
    color: #FDB0B0;
}
select{
    background-color: #262626;
    color: #ffddb3;
}
optgroup{
    background-color: #0F0F0F;
    font-weight: bold;
}

::placeholder{
    /*color: #FFE4C4;*/
    color: gray;
}
#beginning{
    background-color: #0F0F0F;
    color: gray;
}
#beginning h1{
    font-size: 20px;
    font-weight: bold;
    color: #FFE4C4;
}
#beginning h4{
    color: #ffddb3;
}
#beginning h4 a{
    color: white;
}
#beginning a:hover{
    color: #fff4e6;
}
#beginning span{
    float: right;
}
#protip{
    font-weight: bold;
    font-size: 14px;
    padding: 5px;
    background-color: #333333;
    color: white;
    border: none;
}

#advertise{
    color: gray;
}
/*
#tempButtons{
    border: solid gray 1.5px;
}*/
#tempButtons button{
    margin-left: 5px;
    margin-right: 5px;
    padding: 0;
    color: white;
    background-color: #262626;
    border: none;
}
#tempButtons button[name="search"]{
    background-color: #333333;
    padding: 5px;
    font-size: 80%;
}
#tempButtons button[name=import]{
    /*background-color: #666666;*/
    background-color: #4d4d4d;
    border-top: #e6e6e6 solid 1px;
    padding: 5px;
    font-size: 80%;
}
#tempButtons button[name=reset]{
    background-color: #4d4d4d;
    border-top: #e6e6e6 solid 1px;
    float: right;
    padding: 1px;
}

.container{
    background-color: black;
    border: green solid 4px;
}

#beginning button[name="currencyMarket"]{
    color:black;
    font-weight: bold;
    background-color: #FFE4C4;
    float: right;
    border: none;
    height: 40px;
    width: 250px;
}
form{
    background-color: #0F0F0F;
    margin: 5px;
    border: 50px;
}
div.formTitles{
    color: #FFE4C4;
}
#LeagueTypeBaseRow, #NameRow, #OffenseBottom{
    margin-left: 5px;
}
#LeagueDropdown, #ModsConditions{
    border: solid green 2px;
}
#ModsConditions{
    color: #FFE4C4;
    width: 8%;
    margin-left: 2%;
    margin-right: 2%;
}

input[type="text"]{
    width: 50px;
    height: 2em;
    border: solid gray 1px;
    text-align: center;
}
.addedInput[type="text"]{
    width: 50px;
    height: 2em;
    border: solid gray 1px;
    text-align: center;
}
input[type="text"][name="Name"]{
    width: 82.25%;
}
section[name="Offense"] span{
    padding-left: 25px;
    padding-right: 25px;
    border: 5px;
}
section[name="Defense"] span{
    padding-left: 25px;
    padding-right: 25px;
}
#League, #Type2, #Base, #Name, section[name="Offense"] span, section[name="Defense"] span, section[name="Sockets"] span, section[name="Sockets2"] span, section[name="Requirements"] span,
    section[name="Mods"] span, section[name="Misc"] span, span[name="existAndMatch"]{
    color: #ffcc99;
    /*color: #ffbf80;*/
}
#League select, #Type2 select, #Base select{
    color: #FFE4C4
}
section[name="Sockets"] span{
    padding-left: 25px;
    padding-right: 25px;
}
section[name="Sockets2"]{
    padding-left: 30px;
    padding-right: 30px;
}
section[name="Sockets2"] span{
    padding-right: 20px;
}
section[name="Sockets2"] input{
    width: 25px;
}
section[name="Sockets2"] input[name="R"]{
    border-bottom: 2.5px solid red;
}
section[name="Sockets2"] input[name="G"]{
    border-bottom: 2.5px solid green;
}
section[name="Sockets2"] input[name="B"]{
    border-bottom: 2.5px solid blue;
}
section[name="Sockets2"] input[name="W"]{
    border-bottom: 2.5px solid white;
}
section[name="Requirements"] span{
    padding-left: 25px;
    padding-right: 25px;
}
section[name="Requirements"] input{
    width: 40px;
    height: 20px;
}
.ModsClass{
    width: 75%;
    height: 30px;
    padding-left: 5px;
    color: #ffddb3;
}
button[name="deleteMod"]{
    width: 40px;
    font-weight: bold;
    color: black;
}
button[name="AddMod"]{
    width: 70px;
    font-weight: bold;
    margin-top: 15px;
    margin-left: 45%;
    color: white;
    border-top: 1px solid white;
    border-left: none;
    border-right: none;
    border-bottom: none;
    background-color: #4d4d4d;
}
#addModGroup, #deleteModGroup{
    float: right; 
    margin-right: 5px;
    color: white;
    background-color: #4d4d4d;
    border: none;
    border-top: 1px solid white;
    padding: 3px;
    font-weight: bold;
}
section[name="Mods"] button[name="deleteModGroup"]{
    float: right;
}
#Misc{
    border: solid gray 22px;
}
section[name="Misc"] span{
    padding-left: 25px;
    padding-right: 25px;
}
section[name="Misc"] select{
    color: #FFE4C4;
}
section[name="Misc"] input[name="name"], section[name="Misc"] input[name="thread"], section[name="Misc"] #Identified, section[name="Misc"] #Rarity,
    section[name="Misc"] #Corrupted, section[name="Misc"] #Buyout, section[name="Misc"] #Crafted, section[name="Misc"] #Enchanted{
    width: 100px;
}

.Colors input[type="text"][name="R"], .Linked[name="R"]{
    border-bottom: red;
}
.Colors[name="g"], .Linked[name="G"]{
    border-bottom: green;
}
.Colors[name="B"], .Linked[name="B"]{
    border-bottom: blue;
}
.Colors[name="W"], .Linked[name="W"]{
    border-bottom: #fff;
}

button[name="Reset"]{
    margin-top: 20px;
    margin-left: 20px;
    border-top: solid #8c8c8c 2px;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    background-color: #262626;
    color: white;
}
input[type="submit"]{
    float: right;
    margin-top: 20px;
    margin-right: 20px;
    border-top: solid #8c8c8c 2px;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    color: white;
    background-color: #262626;
    height: 40px;
    width: 70px;
    text-align: center;
    font-weight: bold;
}

footer{
    border-top: solid gray;
    margin: 5px;
}
footer h4{
    font-size: 12px;
    color: #ffcc99;
}
footer a{
    color:#FFE4C4;
}
footer a:hover{
    color: #fff4e6;
}
